{% extends 'examples/_wrapper.html.twig' %}

{% block demo %}
<nav class="scope-nav">
    <a href="{{ basePath }}examples/all-scopes" class="scope-nav-link">Home</a>
    <a href="{{ basePath }}examples/all-scopes/page-a" class="scope-nav-link">Page A</a>
    <a href="{{ basePath }}examples/all-scopes/page-b" class="scope-nav-link">Page B</a>
</nav>

{{ globalBanner | raw }}
{{ routeCounter | raw }}
{{ tabMessage | raw }}

<div class="card">
    <h3>{{ pageTitle }}</h3>
    {{ content | raw }}
</div>
{% endblock %}
