{% extends 'examples/_wrapper.html.twig' %}

{% block demo %}
<div id="game-grid">
    <p class="gol-hint">
        Click cells to draw patterns. Multiple users can draw simultaneously! 👥 {{ clientCount }} connected
    </p>

    <p class="gol-generation">
        Generation: {{ generation }}
    </p>

    <div class="flex gap-1 mb-2">
        <button data-on:click="@post('{{ toggleUrl }}')">{{ runningEmoji }} {{ runningText }}</button>
        <button class="secondary" data-on:click="@post('{{ resetUrl }}')">🔄 Reset</button>
    </div>

    <div class="gol-board" data-on:pointerdown="@post('{{ tapUrl }}?id=' + event.target.dataset.id)">
        {{ tiles | raw }}
    </div>
</div>
{% endblock %}
